.row {
  height:110px;
  display: grid;
  grid-template-columns: 0.4fr 0.39fr 0.33fr 0.3fr 0.53fr 0.4fr 0.28fr; 
  gap: 8px;
  align-items: center;     /* 세로 가운데 */
  justify-items: start;    /* 각 셀 안의 내용 왼쪽 시작 */
  padding: 12px 30px 12px 78px;
  border-top: 1px solid #E5E7EB;
  background: #fff;

  box-sizing: border-box;
}
.productCell{ display:flex; flex-direction:column; align-items: flex-start; gap:4px; }
.productName{ font-size:17px; font-weight:500; color:#000; }
.subText   { font-size:14px; color:#757575; }

.priceCell { font-size:14px; font-weight:700; color:#111827; /*#186636 녹색*/ }

.buyerCell, .sellerCell, .placeCell { color:#444; font-size:15px; font-weight:500;}

.dueCell { display:flex; flex-direction:column; gap:2px; }
.dueDate{ font-size:14px; font-weight:600; color:#000; }
.dueTime{ color:#757575; font-size:14px; }

.statusCell{}
.statusPill{
  padding: 6px 14px;
  border-radius: 23px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  cursor: default;
}