.headerContainer{
  width: 100vw;
  height: 76px;
  flex-shrink: 0;

  display: flex;
  flex-direction: row;

  background: #FFF;
  box-shadow: 0 4px 8.5px 0 rgba(0, 0, 0, 0.06);

  padding-top: 18px;
}

.logo{
  width: 110px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 93px;
  margin-right: 93px;

  border: 5px solid #cc0000;
}

.buttonContainer{
  width: 120px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 4px solid #cc0000;
  margin: 0 10px;
}
