.tableWrap{
  width: 100%;
}

.header{
  height:21px;

  display: grid;
  grid-template-columns: 0.68fr 0.6fr 0.6fr 0.6fr 0.55fr 0.5fr; 
  justify-items: start;
  gap: 16px;                     
  align-items: center;

  padding: 12px 20px 12px 78px;
  background: #F9FAFB;
  color: #757575;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #E5E7EB;
}
